html,body {
    font-size: 13px;
    height: 100%;
}
#right {
    width: 25%;
    height: 100%;
    float: right;
}
#top {
    width: 100%;
    height: 60px;
    float: left;
}
#main {
    margin: 0px;
    width: 75%;
    height: 100%;
    float: top;
}
.jumbotron {
    padding: 1rem;
    width: auto;
}
