html,body {
    font-size: 13px;
    height: 100%;
    margin: 1%;
}

#right {
    width: 24%;
    height: 100%;
    float: right;
}

#top {
    width: 100%;
    height: 60px;
    float: top;
}

#main {
    width: 74%;
    height: 100%;
    float: left;
}

.control-btn {
  margin-bottom: 2%;
  width: 19.6%;
  height: 9rem;
  margin-right: 0.5%;
  margin-left: 0%;
  float: left;
  border: none;
}

@media (pointer: fine) {
  .control-btn {
    height: 3rem;
  }
}

#b {
  margin-right: 0%;
}

#buttons {
  width: 100%;
  float: top;
}

#negged {
  float: right;
  text-decoration: underline;
}

#negged:hover {
  color: #dc3545;
}

.jumbotron, #answer-div, #update {
    padding: 1rem;
    width: 100%;
}

#p, #style-toggle {
  margin-top: 1rem;
  height: 3rem;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 0%;
  border: none;
  float: left;
  background-color: #2c2f33;
  color: #fff;
}

#p {
  margin-right: 3%;
  color: buttontext;
  background-color: buttonface;
}

#r {
    color: #fff;
    background-color: #5518ab;
    border-color: #5518ab;
}

.around-input, #readSpeed, #query, #difficulties, #searchType {
  width: 100%;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
}

.list-group-item:first-child {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  margin-bottom: 0.5rem;
}

